/* styles.css */
:root {
    --primary-color: #FF6B35;
    --secondary-color: #4A4E69;
    --accent-color: #F7C59F;
    --light-color: #EFEFEF;
    --dark-color: #2B2D42;
}

body {
    font-family: 'Arial', sans-serif;
    color: var(--dark-color);
}

.navbar {
    background-color: var(--primary-color) !important;
    
}

.navbar-brand, .nav-link {
    color: var(--light-color) !important;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: var(--accent-color) !important;
}

.logo {
    height: 30px; 
    width: auto; 
}




section {
    padding: 80px 0;
}

h2 {
    color: var(--secondary-color);
    margin-bottom: 40px;
}

.service-icon {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: var(--primary-color);
}


#services {
    background-color: var(--light-color);
}

.fixed-card {
    height: 350px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.service-img {
    height: 150px; 
    object-fit: cover;
}

.card-body {
    flex-grow: 1;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--secondary-color);
}

.card-text {
    font-size: 0.9rem;
    color: var(--dark-color);
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .service-img {
      height: 150px; /* Adjust image size for smaller screens */
    }
  }
  
  @media (max-width: 576px) {
    .service-img {
      height: 130px; /* Further adjust for mobile devices */
    }
  }

#philosophy {
    background-color: var(--accent-color);
    color: var(--dark-color);
}

#contact {
    background-color: var(--light-color);
}

footer {
    background-color: var(--dark-color);
}

footer a {
    color: var(--light-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: var(--accent-color);
}


.customer-logo {
    max-width: 70%; /* Reduce the width of the logos */
    height: auto;
    max-height: 80px; /* Set a smaller height */
    object-fit: contain; /* Maintain aspect ratio */
}

@media (min-width: 768px) {
    .customer-logo {
        max-height: 70px; /* Adjust the logo size on medium screens */
    }
}

@media (min-width: 1200px) {
    .customer-logo {
        max-height: 60px; /* Further reduce size on large screens */
    }
}

  
